<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
</head>
<body>
<div>
    Displaying items in  the cart
    <!--TODO remove below hack-->
    <div ng-if="false">
        {{cartContents}}
    </div>
    <!--<ul>-->
        <!--<li ng-repeat = "product in cartContents">-->
            <!--product name is {{product.name}} and product price is {{product.name}}-->
        <!--</li>-->
    <!--</ul>-->
    <table>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th> Product Price(Each)</th>
        </tr>
        <tr ng-repeat = "product in cartContents">
            <td>{{ product.name }}</td>
            <td> {{product.quantity}}</td>
            <td>{{ product.price}}</td>
        </tr>
    </table>
    <h2> Total price is : {{getCartPrice()}}</h2>
    <!--<h2> Number of items in the cart: {{getQuantity()}}</h2>-->

    <button ng-click="checkout();">Checkout</button>
</div>

</body>
</html>