<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div>
    CustomerName<br>
    <input type = "text" ng-model = "name">  <br>
    <div class="dropdown-list">
        <div>
            <div >
                <select name = "category" ng-model = "category"  >
                    <option ng-repeat="option in categories" value="{{option.name}}">{{option.name}}</option>
                    <option value="">---Please select---</option>
                    <option value="Dresses">Dresses</option>
                    <option value="Appliances">Appliances</option>
                    <option value = "Electronics"> Electronics </option>
                </select>
                <br>
                selected_category = {{category}}

            </div>
        </div>
    </div>



</div>

</body>
</html>